.footer {
    background-color: rgb(0, 117, 126);
    font-family: 'Anek Devanagari', sans-serif;
    color: antiquewhite;
    font-size: 12px;
    text-align: center;
    margin: 20px auto;
    padding: 2%;
    max-width: 800px;
    border-radius: 20px;
  }
  